<div class="grid grid-cols-12">
  <!-- menu -->
  <div class="col-span-12">
    <div class="flex m-4 items-center justify-between">
      <!-- nav top -->
      <div class="flex items-center">
        <button class="
        m-1
        px-4
        text-2xl
        rounded-md 
        hver:bg-nav-hover-blue
        " (click)="isOpen = !isOpen" [ngClass]="{ 'focus:bg-gray-300 rounded-[2rem]': isOpen, 'bg-white': !isOpen}">
          ☰
        </button>
        <img class="w-28 h-6" src="https://www.seekpng.com/png/full/77-772362_youtube-logo-youtube-logo-png.png" />
      </div>
      <div class="flex items-center">
        <input class="w-100 h-10 p-4 border-solid divide-gray-500 border focus:outline-none" placeholder="Search" />
        <button class="py-2 px-3 hver:bg-nav-hover-blue border-solid divide-gray-500 border">
          <img class="w-6 h-auto" src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Search_Icon.svg" />
        </button>
        <img class="w-6 h-6" src="https://icons-for-free.com/iconfiles/png/512/voice+icon-1320183328753591744.png">
      </div>

      <div class="flex items-center">
        <button class="py-2 px-3">
          <img class="w-6 h-auto"
            src="https://cdn1.iconfinder.com/data/icons/material-design-icons-light/24/dots-vertical-512.png" />
        </button>
        <div [ngClass]="{'dark': isDark }">
          <button class="p-2 border border-solid 
          border-blue-600
          dark:bg-black dark:text-white dark:border-red-600" (click)="isDark = !isDark">{{ isDark? 'Dark' : 'Light' }}</button>
        </div>
        <button class="btn-blue">
          SIGN IN
        </button>
      </div>

    </div>
    <hr />
  </div>

  <div class="flex flex-1 col-span-12" [ngClass]="{'dark': isDark }">
    <!-- sidebar -->
    <div [ngClass]="{'w-52': isOpen, 'w-[85px]': !isOpen}" class="bg-white dark:bg-black dark:text-white">
      <div class="h-[calc(100vh-81px)] 
      fixed z-10 block 
      text-left
      overflow-hidden" [ngClass]="{'w-52': isOpen, 'w-[85px]': !isOpen}" id="mySidebar">
        <ng-container *ngFor="let item of menuList">
          <a href="#" class="block py-2 hover:bg-[#e6e6e6] dark:hover:bg-[#383838]" *ngIf="item.type === 1" (click)="itemClick(item)"
            [ngClass]="{'bg-[#e5e5e5] dark:bg-[#383838]': item.isSelected}">
            <span [ngClass]="{'block text-center text-xs': !isOpen, 'flex': isOpen}">
              <img [src]="item.img" class="w-6 h-6" [ngClass]="{'m-auto': !isOpen, 'ml-4 mr-6': isOpen}" />
              {{item.name}}
            </span>
          </a>
        </ng-container>

        <div *ngIf="isOpen">
          <hr />
          <div class="flex flex-col p-3">
            <p >Sign in to like videos, comment, and subscribe.</p>
            <button class="btn-blue w-3/4 m-auto my-2">
              SIGN IN
            </button>
          </div>
          <hr />
        </div>


        <div *ngIf="isOpen">
          <h4 class="m-3 font-bold">BEST OF YOUTUBE</h4>

          <ng-container *ngFor="let item of menuList">
            <a href="#" class="block py-2 hover:bg-[#e6e6e6]" *ngIf="item.type === 2" (click)="itemClick(item)"
              [ngClass]="{'bg-[#e5e5e5]': item.isSelected}">
              <span class="flex"><img [src]="item.img" class="w-6 h-6 ml-4 mr-6" />
                {{item.name}}
              </span>
            </a>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- content -->
    <div class="flex-1 h-[calc(100vh-81px)] overflow-scroll relative">
      <div class="sticky top-0 left-0 mx-8 bg-white h-12 leading-[48px]">
        <span (click)="itemClickTab(item)" *ngFor="let item of tabList" 
        class="px-2 py-1 m-1 border border-gray-200 rounded-2xl bg-gray-100 cursor-pointer"
        [ngClass]="{'bg-black text-white border-black': item.isSelected}">
          {{item.name}}
        </span>
        <hr />
      </div>
      
      <div class="grid grid-cols-4 grid-row-2 gap-8
                  p-8">
        <div *ngFor="let item of contentList">
          <img
          [src]="item.img" />
          <h6 class="font-bold">{{item.name}}</h6>
          <small>{{item.author}}</small><br />
          <small>{{item.views}} views • {{item.time}}</small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="test"></div>